@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
  margin: 0;
}

img {
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  font-family: "Raleway";
  color: #000000;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  z-index: 0;
  display: block;
  position: relative;
  padding: 10px 5px;
  border: none;
  transition: 0.3s;
}

.button::after {
  content: "";
  display: block;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.button:hover:after {
  background-color: #FFE17F;
  height: 100%;
}

.button:active:after {
  background-color: #FFC700;
  height: 100%;
}

.button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.3;
}

/* чердак */

.logo-header {
  display: block;
  margin: 19px auto 30px 60px;
  width: 145px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.index-header {
  background-color: #FFE17F;
  margin: 0 auto;
  width: 1160px;

}

.header-up-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 30px;
}



.header-up-saerch {
  display: flex;
  line-height: 20px;
  width: 517px;
}

.header-up-search-input {
  width: 359px;
  background-color: #FFE17F;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;

  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  padding: 8px 45px;
}

.header-up-saerch-label:focus-within{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-up-search-input:disabled {
  opacity: 0.3;
}

.header-up-search-buttom {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  border: none;
  cursor: pointer;
  background-color: #FFE17F;
}

.text-search-button{
  display: block;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  color: #000000;
  width: 160px;
  border: 2px solid #000000;
  border-left: 0px;
  box-sizing: border-box;
  border-radius: 0px 50px 50px 0px;
  transition: 0.3s;
}

.text-search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.text-search-button:active  {
  opacity: 0.3;
}

.header-up-search-buttom:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-up-search-buttom:disabled {
  opacity: 0.3;
}

.header-up-item {
  position: relative;
}

.user {
  display: block;
  color: #000000;
  text-decoration: none;
  width: 231px;
  background-image: url(../images/icons/user.svg);
  background-repeat: no-repeat;
  background-position: 1px;
  padding-left: 27px;
}

.user-button {
  border: none;
  background-color: #FFE17F;
  padding: 0;
  font-family: 'Rubik';  
  font-size: 18px;
  line-height: 30px;
}

.header-up-link:hover {
  opacity: 0.6;
}

.header-up-link:active {
  opacity: 0.3;
}

.header-up-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.compare {
  display: block;
  color: #000000;
  text-decoration: none;
  background-image: url(../images/icons/comparison.svg);
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 22px;

}

.cart {
  display: block;
  color: #000000;
  text-decoration: none;
  background-image: url(../images/icons/cart.svg);
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 25px;
}

.cart-amount {
  position: absolute;
  top: 5px;
  left: -15px;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 2px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.header-bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.header-bottom-navigation {
  display: flex;
}

.header-bottom-navigation-main {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.header-bottom-navigation-main::after {
  content: '';
  opacity: 0.3;
  display: inline-block;
  margin: 0 17px;
  min-width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-bottom-navigation-main-list {
  list-style-type: none;
  padding: 0;
}

.header-bottom-navigation-main-link {
  color: #000000;
  text-decoration: none;

}

.header-bottom-navigation-user-list {
  display: flex;
  width: 471px;
  padding: 0;
  margin: 0;
  gap: 45px;
  list-style: none;
}

.header-bottom-navigation-user-link {
  font-family: "Raleway";
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-bottom-navigation-user-link:hover {
  opacity: 0.6;
}

.header-bottom-navigation-user-link:active {
  opacity: 0.3;
}

.header-bottom-navigation-user-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* главная */
.main-container {
  flex-grow: 1;

}

.popular-item {
  display: none;
}

.popular-list {
  padding: 0;
}

.popular-item-active {
  display: block;
}

.product {
  display: flex;
}

.product-arrow {
  display: flex;
  justify-content: space-between;
  width: 530px;
  height: 60px;
  position: absolute;
  margin-top: 211px;
  margin-left: 30px;
}

.arrow-left {
  background-image: url(../images/icons/arrow-left.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  width: 20px;
  height: 60px;
  border: none;
}

.arrow-right {
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  width: 20px;
  height: 60px;
  border: none;
}

.product-main {
  margin-left: 40px;
}

.product-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  width: 545px;
  height: 100px;
  color: #000000;
  margin: 121px 15px 29px 0;
  ;
}

.product-description {
  width: 560px;
  margin-bottom: 51px;
}

.popular-button {
  margin-bottom: 49px;
}

.popular-product-link {
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-bottom: 49px;
}

.product-table-th {
  padding-bottom: 12px;
}

.product-table-th {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.catalog {
  margin-top: 70px;
  margin-bottom: 70px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.catalog-item {
  width: 160px;
  justify-content: center;
}

.catalog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  background-color: #FFE17F;
  margin-bottom: 33px;
}

.catalog-monopods {
  align-items: flex-end;
}

.catalog-link {
  display: block;
  font-family: "Raleway";
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  letter-spacing: -0.02em;
}

.catalog-link:hover .catalog-container {
  background-color: #FFC700;
}

.catalog-link:active {
  opacity: 0.3;
}

.catalog-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-name {
  font-size: 18px;
}

.services-container {
  margin: auto;
  width: 1160px;
  display: flex;
  padding-bottom: 72px;
}

.services {
  /* background-color: #F0F0F0;   */
  background: linear-gradient(#FFFFFF 102px, 102px, #F0F0F0);
  margin: auto;
  margin-bottom: 70px;
}

.services-navigation-list {
  width: 280px;
  border-right: 7px solid #000000;
  padding: 64px 0;
  list-style-type: none;
  margin: 0;
}

.services-navigation-item {
  margin-bottom: 35px;
}

.services-navigation-item:last-child {
  margin-bottom: 0;
}

.service-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  width: 100%;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  text-align: left;

}

.service-button-active {
  background-color: #000000;
  color: #FFE17F;
  padding: 10px 0;
}

.service-button-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.service-button-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.service-button-active:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.service-button-text {
  display: inline-block;
  min-width: 160px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.service-button-text::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -2;
}

.service-button-active .service-button-text::after {
  display: none;
}

.services-list {
  padding: 73px 0;
  margin: 0;
  margin-left: 116px;
  list-style-type: none;
}

.services-item {
  display: none;
}

.services-item-active {
  display: flex;
  align-items: center;
}

.services-item-text {
  padding-right: 106px;
}

.services-item-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding-bottom: 34px;
}

.service-item-description {
  width: 452px;
  margin: 0;
}

.devilery-link-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.devilery-link {
  display: block;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F0F0F0;
  color: #000000;
  padding: 40px 125px;
  position: relative;
  width: 100%;
}

.devilery-link::before {
  content: "";
  background-image: url(../images/icons/delivery-car.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 120px;
  height: 100%;
  background-color: #FFE17F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.devilery-link::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #DCDCDC;
  background-image: url(../images/icons/info.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: auto;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 42px;
}

.devilery-link:hover::before {
  background-color: #FFC700;
}

.devilery-link:hover::after {
  opacity: 1;
}

.devilery-link:active {
  opacity: 0.3;
}

.devilery-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.index-bottom {
  display: flex;
  margin: auto;
  width: 1160px;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 70px;

}

.about-us-left {
  width: 520px;

}

/*padding-right: 108px;*/
.about-us-right {
  width: 532px;
}

.bottom-decoration::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
  margin-bottom: 40px;
}

.about-us {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 348px;
  margin: 0;
  padding-bottom: 48px;
}

.about-us-row {
  margin-bottom: 30px;
  margin-top: 0;
}

.newsletter-description {
  width: 560px;
  margin: 0;
}

.about-us-list {
  font-family: "Rubik";
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-bottom: 30px;
  list-style-type: none;
  padding: 0;
}

.about-us-list li:not(:last-child) {
  padding-bottom: 19px;
}

.about-us-list li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  margin-right: 26px;
}

.about-us-link {
  width: 270px;
}

.about-us-heading {
  font-weight: 700;
  font-size: 24px;
  margin: 15px 0;
}

.about-us-time {
  margin: 0;
}

.phone {
  color: #444444;
}

.feedback {
  width: 259px;
}

.newsletter {
  background-color: #F0F0F0;
  width: 100%;
  margin: auto;
}

.newsletter-container {
  margin: 0 auto;
  width: 1160px;
}

.newsletter-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 64px;
  padding-bottom: 144px;
}

.newsletter-about-us {
  padding: 0;
}

.newsletter-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 56px;
}

.newsletter-form {
  display: flex;
}

.newsletter-input {
  width: 557px;
  height: 57px;
  padding: 11px 16px;
  border: none;
  background-color: #F0F0F0;
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-input::placeholder {
  opacity: 0.5;
}

.newsletter-input:focus {
  background-color: #DCDCDC;
  outline: none;
}

.newsletter-input:invalid {
  background-color: #F0F0F0;
  border-bottom: 3px solid #FF3D3D;
}

.newsletter-input:disabled {
  opacity: 0.3;
}

.newsletter-button {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 253px;
  padding: 15px 36px;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

.newsletter-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}

.newsletter-button:active {
  color: #444444;
  background-color: #000000;
  border-color: #000000;
}

.newsletter-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.newsletter-free {
  margin: 0;
}

.newsletter-free::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icons/checkmark.svg);
  background-repeat: no-repeat;
  margin-right: 16px;

}

/*Catalog */

.main-catalog-monopods {
  color: #000000;
  background-color: #F0F0F0;
}

.header-container {
  width: 100%;
  background-color: #FFFFFF;
}

.inner-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  width: 1160px;

  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 60px;
}

.inner-header-title {
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  /* display: block; */
  font-size: 16px;
  line-height: 19px;
  margin-right: 36px;
  text-decoration: none;
  color: #000000;

}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 7px;
  top: 13px;
  right: 16px;
  background-image: url(../images/icons/arrow-nav.svg);
  opacity: 0.3;
}

.page-container-monopods {
  width: 100%;
  margin: 0 auto;

}

.catalog-products {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-products-filter {
  width: 320px;
}

.catalog-filter-heading {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0 60px 60px;
}

.catalog-filter-group {
  width: 200px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.button-show {
  font-size: 18px;
  width: 220px;
}

.catalog-right-column {
  width: 840px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.select-control {
  width: 141px;
  height: 30px;
  border: none;
  background-color: #F0F0F0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.select-control:disabled {
  opacity: 0.1;
}

.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sorting-link {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  opacity: 0.3;
}

.sorting-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active {
  opacity: 1;
}

.sorting-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-products-sorting {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.product-popular-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.product-popular-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-popular-item {
  position: relative;
}

.product-popular-link {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0;
  position: relative;
}

.product-popular-more {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  position: absolute;
  display: block;
  z-index: -1;
  margin: 0;
  padding: 0;
  height: 20px;
  top: 180px;
  right: 75px;
}

.product-popular-more::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  z-index: -1;
}

.product-popular-link:hover .product-popular-link-container {
  opacity: 0.6;
}

.product-popular-link:hover .product-popular-more {
  z-index: 1;
}

.product-popular-link:active .product-popular-link-container {
  opacity: 0.3;
}

.product-popular-link:active .product-popular-more::after {
  background-color: #FFC700;
}

.product-popular-link:focus .product-popular-link-container {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-popular-image-container {
  line-height: 0;
  ;
}

.monopods-container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.product-popular-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.product-popular-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  margin: 0;
}

.button-more {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 100%;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
  padding: 15px 0;
  margin: 44px 0;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}

.button-more:hover {
  border: 3px solid #000000;
}

.button-more:active {
  opacity: 0.3;
}

.button-more:focus {
  border: 3px solid #E5E5E5;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
  padding: 0;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  ;
  margin: 0;
  padding: 15px 0;
  list-style-type: none;
}

.pagination-item {}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
  color: #444444;
  padding: 10px 0;
  text-align: center;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-next,
.pagination-prev {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  opacity: 1;
  color: #000000;
  padding: 25px;
}

.pagination-button:hover {
  background-color: rgba(220, 220, 220, 1);
}

.pagination-button:active {
  opacity: 0.3;
}

.pagination-button:focus {
  background-color: rgba(240, 240, 240, 1);
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.page-container {
  margin: 0 auto;
  width: 1160px;
}

/* подвал */
.index-footer {
  background-color: #444444;
  color: #FFFFFF;
  width: 100%;
  margin: auto;
}

.footer-container {
  margin: 0 auto;
  width: 1160px;
}

.footer-logo {
  display: block;
  margin-top: 62px;
  margin-bottom: 35px;
  line-height: 0;
  width: 145px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 47px;
}

.about-us-address {
  width: 239px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 119px;

}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 444px;
}

.footer-navigation-link {
  font-family: 'Raleway';
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-navigation-link:hover {
  border-bottom: 2px solid #FFC700;
  color: #FFC700;

}

.footer-navigation-link:active {
  border-bottom: 2px solid #FFC700;
  color: #FFC700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
  align-self: flex-start;
  margin-left: auto;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus {
  outline: 2px solid #AF4FFF;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 61px;
  position: relative;
}

.footer-social::after {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  position: absolute;
  margin-top: 20px;

}

.footer-social-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 150px;
  margin-left: auto;
}

.footer-social-link {
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-link:hover {
  background-color: #FFC700;
  opacity: 1;
}

.footer-social-link:active {
  background-color: #FFC700;
  opacity: 0.3;
}

.footer-social-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;

}

.social-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.footer-developer {
  display: block;
  margin-left: 390px;
  line-height: 0;
}

.footer-developer:hover path {
  fill: #FFFFFF;
}

.footer-developer:active {
  opacity: 0.3;
}

.footer-developer:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}